.link button 
{
    color: black;
    background: none;
    background-color: white;    
    border-style:solid;
    border-color: white;
    border-radius: 2px;
    /* height: 1rem; */
}
.search input
{
    width: 40vw;
    height: 1rem;
}
