
.signIn {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
}

.signIn .image {
    display: flex;
    justify-content: center;
    background-image: url(/src/components/Signin/images/background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.signIn .image p {
    color: white;
    font-weight: 500;
    font-size: 1.25rem;
    text-align: center;
    justify-self: center;
    align-self: center;
    padding: 0.5rem;
}

@media screen and (max-width: 660px) {
    .signIn .image {
        display: none;
    }

    .signIn {
        grid-template-columns: 1fr;
    }
}