.App
{
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-inline: 2rem;
  max-height: 100vh;
}
.apiWrapper
{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;
  /* height: 100vh; */
}
.apiWrapper img{
  width:60%;
}
.submitButton
{
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  border-radius: 0.5rem;
}
.img-container
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
