.App {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-inline: 2rem;
  height: 100vh;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto 1fr;
  justify-content: center;
  align-items: center;
}

.apiWrapper {
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;
}

.apiWrapper img {
  width: 60%;
}

.submitButton {
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
  align-self: center;
  flex-direction: column;
  padding: 2rem;
  border-radius: 0.5rem;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.img-container img
{
  justify-content: flex-end;
  align-items: flex-end;
}
.appInstructions {
  font-size: 1rem;
  font-weight: 500;
}